.scroll-container {
    width: auto;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.pokemon-card {
    background: #c0c0c0;
    border: 2px outset #c0c0c0;
    cursor: pointer;
    transition: none;
}

.pokemon-image {
    background: #000;
    border: 2px inset #808080;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: relative;
}

.pokemon-image img {
    width: 80%;
    height: 80%;
    object-fit:contain;
    image-rendering: pixelated;
    position: relative;
    z-index: 10;
}

.type-normal { background: #A8A878; }
.type-fire { background: #F08030; }
.type-water { background: #6890F0; }
.type-electric { background: #F8D030; color: #000; }
.type-grass { background: #78C850; }
.type-ice { background: #98D8D8; color: #000; }
.type-fighting { background: #C03028; }
.type-poison { background: #A040A0; }
.type-ground { background: #E0C068; color: #000; }
.type-flying { background: #A890F0; }
.type-psychic { background: #F85888; }
.type-bug { background: #A8B820; }
.type-rock { background: #B8A038; }
.type-ghost { background: #705898; }
.type-dragon { background: #7038F8; }
.type-dark { background: #705848; }
.type-steel { background: #B8B8D0; color: #000; }
.type-fairy { background: #EE99AC; color: #000; }