.scroll-container {
    width: auto;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.pokemon-card {
    background: #c0c0c0;
    border: 2px outset #c0c0c0;
    cursor: pointer;
    transition: none;
}

.pokemon-image {
    background: #000;
    border: 2px inset #808080;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: relative;
}

.pokemon-image img {
    width: 80%;
    height: 80%;
    object-fit:contain;
    image-rendering: pixelated;
    position: relative;
    z-index: 10;
}

