.scroll-container {
    width: auto;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.pokemon-card {
    background: #c0c0c0;
    border: 2px outset #c0c0c0;
    cursor: pointer;
    transition: none;
}

.pokemon-image {
    background: #000;
    border: 2px inset #808080;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: relative;
}

.pokemon-image img {
    width: 80%;
    height: 80%;
    object-fit:contain;
    image-rendering: pixelated;
    position: relative;
    z-index: 10;
}

.normal { background: #A8A878; }
.fire { background: #F08030; }
.water { background: #6890F0; }
.electric { background: #F8D030; color: #000; }
.grass { background: #78C850; }
.ice { background: #98D8D8; color: #000; }
.fighting { background: #C03028; }
.poison { background: #A040A0; }
.ground { background: #E0C068; color: #000; }
.flying { background: #A890F0; }
.psychic { background: #F85888; }
.bug { background: #A8B820; }
.rock { background: #B8A038; }
.ghost { background: #705898; }
.dragon { background: #7038F8; }
.dark { background: #705848; }
.steel { background: #B8B8D0; color: #000; }
.fairy { background: #EE99AC; color: #000; }


